services:
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - middleware

  middleware:
    build:
      context: .
      dockerfile: middleware/Dockerfile
    ports:
      - "8000:8000"
    environment:
      TB_BASE_URL: "http://thingsboard:8080"
      # TB_API_KEY: "REPLACE_WITH_API_KEY"
      # TB_USERNAME: "tenant@thingsboard.org"
      # TB_PASSWORD: "tenant"
      CORS_ORIGINS: "http://localhost:8081"
      DEVICE_MAPPING_PATH: "/app/mapping/devices.ifc.json"
    depends_on:
      - thingsboard


  postgres:
    restart: always
    image: "postgres:16"
    ports:
      - "5432"
    environment:
      POSTGRES_DB: thingsboard
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
  thingsboard:
    restart: always
    image: "thingsboard/tb-node:4.3.0"
    ports:
      - "8080:8080"
      - "7070:7070"
      - "1883:1883"
      - "8883:8883"
      - "5683-5688:5683-5688/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      TB_SERVICE_ID: tb-ce-node
      # INSTALL_TB: "true" pour l'installation uniquement.
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/thingsboard
    depends_on:
      - postgres

volumes:
  postgres-data:
    name: tb-postgres-data
    driver: local


