services:
  dash:
    restart: always
    build:
      context: .
      dockerfile: dash/Dockerfile
    ports:
      - "8050:8050"
    environment:
      MIDDLEWARE_URL: "http://middleware:8000"
      DASH_VIEWER_URL: "http://localhost:8081"
    depends_on:
      - middleware

  frontend:
    restart: always
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - middleware

  middleware:
    restart: always
    build:
      context: .
      dockerfile: middleware/Dockerfile
    ports:
      - "8000:8000"
    environment:
      CORS_ORIGINS: "http://localhost:8081,http://localhost:8050"
      DEVICE_MAPPING_PATH: "/app/data/devices.ifc.json"
      MAPPING_DIR: "/app/data"
    volumes:
      - ./data:/app/data
    depends_on:
      - thingsboard

  predictor:
    restart: always
    build:
      context: .
      dockerfile: predictor/Dockerfile
    environment:
      DEVICE_MAPPING_PATH: "/app/data/devices.ifc.json"
      MIDDLEWARE_URL: "http://middleware:8000"
      PREDICTOR_CACHE_DIR: "/app/cache"
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
    volumes:
      - ./data:/app/data
      - predictor-cache:/app/cache
    depends_on:
      - middleware


  postgres:
    restart: always
    image: "postgres:16"
    ports:
      - "5432"
    environment:
      POSTGRES_DB: thingsboard
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
  thingsboard:
    restart: always
    image: "thingsboard/tb-node:4.3.0"
    ports:
      - "8080:8080"
      - "7070:7070"
      - "1883:1883"
      - "8883:8883"
      - "5683-5688:5683-5688/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      TB_SERVICE_ID: tb-ce-node
      # INSTALL_TB: "true" pour l'installation uniquement.
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/thingsboard
    depends_on:
      - postgres

volumes:
  postgres-data:
    name: tb-postgres-data
    driver: local
  predictor-cache:
    name: predictor-cache
    driver: local
